<!DOCTYPE html>
<html>
<head>
	<title>My Resume</title>
	<link rel="stylesheet" href="/home.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        ul {
            margin-bottom: 30px;
        }
        ul li {
            list-style-type: square;
        }
        ol li {
            list-style-type: decimal;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
	<div class="wraper">
		<div class="container">
		<div class="left-content p-30">
			<div class="logo">
				<a href="/resume">
					<span>My</span>
					<span>Resume</span>
				</a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/work">Work profile</a></li>
					<li><a href="/education">Education</a></li>
					<li><a href="/experience">Experience</a></li>
					<li><a href="/hobbies">Hobbies</a></li>
                    <li><a href="/reversi">My game</a></li>
				</ul>
			</div>
			<div class="left-footer">
				<div class="social-icons">
					<ul>
						<li><a href="https://www.linkedin.com/in/david-jan%C4%8Da-b2b923164/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="foot-contact">
					<ul>
						<li>xjancad@gmail.com</li>
						<li>+420 721 294 257</li>
					</ul>
				</div>
				
			</div>

		</div>
		<div class="main-content">
			<div class="section1 p-30" id="Home">
			<div class="sec-title">
	
	<div class="pg-title">Experience (beginner)</div>
			</div>
				<div class="d-flex-align-center">
                <div class="user-profile flex-1">
                    <div class="role">Programming languages</div>
					<div class="text">
                        <ul>
                            <li>C</li>
                            <li>JavaScript</li>
                            <li>Python</li>
                            <li>HTML, CSS</li>
                        </ul>
                    </div>
                    <div class="role">Frameworks</div>
                    <div class="text">
                        <ul>
                            <li>Django</li>
                            <li>Flask</li>
                            <li>Express</li>
                            <li>React</li>
                        </ul>
                    </div>
                    <div class="role">Systems, databases and other</div>
                        <ul>
                            <li>Linux</li>
                            <li>Node</li>
                            <li>GIT</li>
                            <li>Bash</li>
                            <li>SQL</li>
                        </ul>
                    <div class="role">My project</div>
                    <div class="text">
                        My app is the result of my final project for the CS50 course. I tried several technologies during the making of this app.
                        <ol>
                            <li>I programmed AI, which runs with the Negamax algorithm, which considers 4 heuristic functions to score all possible moves to the depth of 3.</li>
                            <li>The app is split on the client/server side. Client-side renders results and sends data to the server. The server side handles the logic and passes information to the client.</li>
                            <li>The app uses sockets. JavaScript is a single-threaded language and I needed to render results to the client while running other functions.</li>
                            <li>The app is able to connect players online. Sessions are used for user verification and sockets for identification and connecting them.</li>
                            <li>I refactored the app several times, because I needed to change the structure and naming with more and more features added.</li>
                            <li>I worked from my desktop and notebook. So I learned to work with GIT to commit my progress and also for passing the actual version between 2 devices.</li>
                            <li>I created a domain and through Rosti.cz reconfigured DNS records and deployed my app online.</li>
                        </ol>
                        You can try my app in the section MY GAME.
                    </div>
				</div>
			</div>
			</div>

		</div>
	</div>
</div>
</body>
</html>