<!DOCTYPE html>
<html>
<head>
	<title>My Resume</title>
	<link rel="stylesheet" href="/home.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="wraper">
		<div class="container">
		<div class="left-content p-30">
			<div class="logo">
				<a href="/resume">
					<span>My</span>
					<span>Resume</span>
				</a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/work">Work profile</a></li>
					<li><a href="/education">Education</a></li>
					<li><a href="/experience">Experience</a></li>
					<li><a href="/hobbies">Hobbies</a></li>
                    <li><a href="/reversi">My game</a></li>
				</ul>
			</div>
			<div class="left-footer">
				<div class="social-icons">
					<ul>
						<li><a href="https://www.linkedin.com/in/david-jan%C4%8Da-b2b923164/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="foot-contact">
					<ul>
						<li>xjancad@gmail.com</li>
						<li>+420 721 294 257</li>
					</ul>
				</div>
				
			</div>

		</div>
		<div class="main-content">
			<div class="section1 p-30" id="Home">
			<div class="sec-title">
	
	<div class="pg-title">Resume download</div>
			</div>
				<div class="d-flex-align-center">
                <div class="user-profile flex-1">
					<div class="pro-details">
						<a class="download" href="/zivotopis.pdf" download="">CZECH VERSION</a>
                        <a class="download" href="/cv.pdf" download="">ENGLISH VERSION</a>
					</div>
                </div>
			</div>
			</div>

		</div>
	</div>
</div>
</body>
</html>